#Line Messaging API credentials
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

# MySQL Database Configuration
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

#LINE Login credentials
LINE_LOGIN_CHANNEL_ID=
LINE_LOGIN_CHANNEL_SECRET=
LINE_LOGIN_REDIRECT_URI=

# 真正的 SAM 自動分割參數
USE_REAL_SAM=1
SAM_CHECKPOINT=models/mobile_sam.pt
SAM_MODEL_TYPE=vit_t
SAM_POINTS_PER_SIDE=
SAM_MIN_MASK_REGION_AREA=

# GCP
GCP_PROJECT=
CLOUD_SQL_INSTANCE=
DB_NAME=
DB_USER=
DB_PASSWORD=
GCS_BUCKET=
# Gemini API Key
GEMINI_API_KEY=
